doctype html
head
  meta(charset='UTF-8')
  title Scrimpr | Compare Products and Save Money
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='stylesheet' href='css/vendor/vendor.min.css')
  link(rel='stylesheet' href='css/plugin/plugins.min.css')
  link(rel='stylesheet' href='css/main.min.css')
  link(rel='stylesheet' href='css/main.css')
  script.
    function clearList() {
    let row1 = document.getElementById("row-one");
    row1.remove();
    let row2 = document.getElementById("row-two");
    row2.remove();
    let row3 = document.getElementById("row-three");
    row3.remove();
    }
    function itemPurchasedOne() {
    document.getElementById('row-one').className = "ticked-green";
    }
    function removeOne() {
    let row = document.getElementById("row-one");
    row.remove();
    }
    function itemPurchasedTwo() {
    document.getElementById('row-two').className = "ticked-green";
    }
    function removeTwo() {
    let row = document.getElementById("row-two");
    row.remove();
    }
    function itemPurchasedThree() {
    document.getElementById('row-three').className = "ticked-green";
    }
    function removeThree() {
    let row = document.getElementById("row-three");
    row.remove();
    }
    function unDoOne() {
    document.getElementById('row-one').className = "un-ticked-white";
    }
    function unDoTwo() {
    document.getElementById('row-two').className = "un-ticked-white";
    }
    function unDoThree() {
    document.getElementById('row-three').className = "un-ticked-white";
    }
header
  .header.d-none.d-lg-block
    .header__top
      .container
        .row
          .col-12
            .header__top-content.d-flex.justify-content-between.align-items-center
              .header__top-content--left
    .header__center.sticky-header.p-tb-10
      .container
        .row
          .col-12.d-flex.justify-content-between.align-items-center
            .header__logo
              a.header__logo-link.img-responsive(href='/index')
                img.header__logo-img.img-fluid(src='images/logo/scrimprlogolargerls.jpg' alt='')
            .header-menu
              nav
                ul.header__nav
                  li.header__nav-item.pos-relative
                    a.header__nav-link(href='/index') Home
                  li.header__nav-item.pos-relative
                    a.header__nav-link
                      | New List
                      i.header__nav-link
                  li.header__nav-item.pos-relative
                    a.header__nav-link
                      | My Lists
                      i.fal.fa-chevron-down
                    ul.mega-menu.pos-absolute
                      li.mega-menu__box
                        .mega-menu__item-box
                          a(href='/list' mega-menu__title='') List 1
                          span.mega-menu__title List 2
                          span.mega-menu__title List 3
                          ul.mega-menu__item
                        .mega-menu__item-box
                          ul.mega-menu__item
                            li.mega-menu__banner
                              a.mega-menu__banner-link(href='#')
                  li.header__nav-item.pos-relative
                    a.header__nav-link(href='#')
                  li.header__nav-item.pos-relative
                    a.header__nav-link(href='#')
                  li.header__nav-item.pos-relative
                    a.header__nav-link(href='#')
                  li.header__nav-item.pos-relative
                    a.header__nav-link(href='#')
            ul.header__user-action-icon
              li
                a(href='#')
                  i.icon-users
              li
                a(href='/favourites')
                  i.icon-heart
    .header__bottom.p-tb-30
      .container
        .row.justify-content-between.align-items-center
          .col-xl-3.col-lg-3
            .header-menu-vertical.pos-relative
              h4.menu-title.link--icon-left
                i.far.fa-align-left
                | CATEGORIES
              ul.menu-content.pos-absolute
                li.menu-item
                  a(href='#') Fruits and Vegetables
                li.menu-item
                  a(href='#') Bakery
                li.menu-item
                  a(href='#') Fridge
                li.menu-item
                  a(href='#') Freezer
                li.menu-item
                  a(href='#') Pantry
                li.menu-item
                  a(href='#') Drinks
                li.menu-item
                  a(href='#') Bathroom
                li.menu-item
                  a(href='#') Laundry
                li.menu-item
                  a(href='#') Pet
          .col-xl-7.col-lg-6
            form.header-search(action='#' method='post')
              .header-search__content.pos-relative
                input(type='search' name='header-search' placeholder='Search products' required='')
                button.pos-absolute(type='submit')
                  i.icon-search
          .col-xl-2.col-lg-3
            .header-phone.text-end
              span
  .header__mobile.mobile-header--1.d-block.d-lg-none.p-tb-20
    .container-fluid
      .row
        .col-12.d-flex.align-items-center.justify-content-between
          ul.header__mobile--leftside.d-flex.align-items-center.justify-content-start
            li
              .header__mobile-logo
                a.header__mobile-logo-link(href='/index')
                  img.header__mobile-logo-img(src='images/logo/scrimprlogolargerls.jpg' alt='')
          ul.header__mobile--rightside.header__user-action-icon.d-flex.align-items-center.justify-content-end
            li
              a.offcanvas-toggle(href='#offcanvas-mobile-menu')
                i.far.fa-bars
      .row
        .col-12
          .header-menu-vertical.pos-relative.m-t-30
            h4.menu-title.link--icon-left
              i.far.fa-align-left
              | CATEGORIES
            ul.menu-content.pos-absolute
              li.menu-item
                a(href='#') Fruits and Vegetables
              li.menu-item
                a(href='#') Bakery
              li.menu-item
                a(href='#') Fridge
              li.menu-item
                a(href='#') Freezer
              li.menu-item
                a(href='#') Pantry
              li.menu-item
                a(href='#') Drinks
              li.menu-item
                a(href='#') Bathroom
              li.menu-item
                a(href='#') Laundry
              li.menu-item
                a(href='#') Pet
  #offcanvas-mobile-menu.offcanvas.offcanvas-mobile-menu
    .offcanvas__top
      span.offcanvas__top-text
      button.offcanvas-close
        i.fal.fa-times
    .offcanvas-inner
      form.header-search.m-tb-15(action='#' method='post')
        .header-search__content.pos-relative
          input(type='search' name='header-search' placeholder='Search products' required='')
          button.pos-absolute(type='submit')
            i.icon-search
      ul.header__user-action-icon.m-tb-15.text-center
        li
          a(href='#')
            i.icon-users
        li
          a(href='/favouri')
            i.icon-heart
      .offcanvas-menu
        ul
          li
            a(href='/index')
              span Home
          li
            a(href='#')
              span My Lists
            ul.sub-menu
              li
                a(href='#') Shopping Lists
                ul.sub-menu
                  li
                    a(href='shop-sidebar-grid-left.html')
            ul.sub-menu
              li
                a(href='#') Title
                ul.sub-menu
                  li
                    a(href='#') My Account
                  li
                    a(href='#') Login
            ul.offcanvas__social-nav.m-t-50
              li.offcanvas__social-list
                a.offcanvas__social-link(href='#')
                  i.fab.fa-facebook-f
              li.offcanvas__social-list
                a.offcanvas__social-link(href='#')
                  i.fab.fa-twitter
              li.offcanvas__social-list
                a.offcanvas__social-link(href='#')
                  i.fab.fa-youtube
              li.offcanvas__social-list
                a.offcanvas__social-link(href='#')
                  i.fab.fa-google-plus-g
              li.offcanvas__social-list
                a.offcanvas__social-link(href='#')
                  i.fab.fa-instagram
.page-breadcrumb
  .container
    .row
      .col-12
        ul.page-breadcrumb__menu
          li.page-breadcrumb__nav
            a(href='/index') Home
          li.page-breadcrumb__nav.active List
main#main-container.main-container
  .container
    .row
      .col-12
        .section-content
          h5.section-content__title List 1
          a(onclick='webShare()')
            i#share-button.fa.fa-share-alt.share-button(aria-hidden='true')
        .overlay
        .share
          p
        script.
          let modal = document.querySelector(".overlay");
          const title = window.document.title;
          const url = window.document.location.href;
          const listTitle = "List 1\\n";
          const list1 = "Cheezels Original Cheese Snacks 125g x 1\\n";
          const list2 = "Kettle Sea Salt Potato Chips 175g x 1\\n";
          const list3 = "Twisties Cheese 90g x 1\\n";
          const fullList = listTitle + list1 + list2 + list3;
          const shareData = {
          title: `${title}`,
          url: `${url}`,
          text: `${fullList}`
          };
          let message = "Default Message";
          async function webShare() {
          if (navigator.share) {
          try {
          await navigator.share(shareData);
          message = "<p>Thank You</p>";
          showMsg(message);
          } catch (err) {
          message = "<p>Something went wrong</p>";
          showMsg(message);
          }
          } else {
          message = "<p> Web Share API not Supported </p>";
          showMsh(message);
          }
          }
          function showMsg(msg) {
          overlay.innerhtml = msg;
          overlay.style.display = "block";
          setTimeout(() => {
          overlay.style.display = "none";
          }, 3000);
          }
        .table-content.table-responsive.list-table-content.m-t-30
          table
            thead.gray-bg
              tr
                th Image
                th Product Name
                th Unit Price
                th Qty
                th Subtotal
                th Action
            tbody
              tr#row-one
                td.product-thumbnail
                  a
                    img#product-one-image.img-fluid(src='images/product/size-normal/7879468-cheezels.jpg' alt='')
                td.product-name
                  a
                    p#product-one
                      | Cheezels
                      | Original Cheese
                      | Snacks
                      | 125g
                td.product-price-list
                  span.amount $2.50
                  img(src='images/icons/woolworths/wwsquare.png' alt='HTML5 Icon' width='46' height='35')
                td.product-quantities
                  #quantity-one.quantity.d-inline-block
                    input(type='number' min='1' step='1' value='1')
                td.product-subtotal $00.00
                td.product-remove
                  a
                    button.purchased-button.btn--radius(onclick='itemPurchasedOne()') PURCHASED
                  a
                    i.fa.fa-undo.action-icon(aria-hidden='true' onclick='unDoOne()')
                  a
                    i.fa.fa-times.action-icon(onclick='removeOne()')
              tr#row-two
                td.product-thumbnail
                  a(href='#')
                    img#product-two-image.img-fluid(src='images/product/size-normal/8156535-kettle.jpg' alt='')
                td.product-name
                  a
                    p#product-two Kettle Sea Salt Potato Chips 175g
                td.product-price-list
                  span.amount $3.50
                  img(src='images/icons/coles/colessquare.png' alt='HTML5 Icon' width='46' height='35')
                td.product-quantities
                  #quantity-two.quantity.d-inline-block
                    input(type='number' min='1' step='1' value='1')
                td.product-subtotal $00.00
                td.product-remove
                  a
                    button.purchased-button.btn--radius(onclick='itemPurchasedTwo()') PURCHASED
                  a
                    i.fa.fa-undo.action-icon(aria-hidden='true' onclick='unDoTwo()')
                  a
                    i.fa.fa-times.action-icon(onclick='removeTwo()')
              tr#row-three
                td.product-thumbnail
                  a(href='#')
                    img#product-three-image.img-fluid(src='images/product/size-normal/3706832-twisties.jpg' alt='')
                td.product-name
                  a
                    p#product-three Twisties Cheese 90g
                td.product-price-list
                  span.amount $1.00
                  img(src='images/icons/woolworths/wwsquare.png' alt='HTML5 Icon' width='46' height='35')
                td.product-quantities
                  #quantity-three.quantity.d-inline-block
                    input(type='number' min='1' step='1' value='1')
                td.product-subtotal $00.00
                td.product-remove
                  a
                    button.purchased-button.btn--radius(onclick='itemPurchasedThree()') PURCHASED
                  a
                    i.fa.fa-undo.action-icon(aria-hidden='true' onclick='unDoThree()')
                  a
                    i.fa.fa-times.action-icon(onclick='removeThree()')
        .list-table-button.m-t-10
          .list-table-button--left
            a.btn.btn--box.btn--large.btn--radius.btn--blue.btn--blue-hover-black.btn--uppercase.font--bold.m-t-20(href='/index')
              | CONTINUE
              | SEARCHING
          .list-table-button--right
            a.btn.btn--box.btn--large.btn--radius.btn--black.btn--black-hover-blue.btn--uppercase.font--bold.m-t-20(onclick='clearList()')
              | Clear
              | List
footer.footer.m-t-100
  .container
    .footer__top
      .row
        .col-lg-4.col-md-5
          .footer__about
            .footer__logo
              a.footer__logo-link(href='/index')
                img.footer__logo-img(src='images/logo/scrimprlogolarger.png' alt='')
            ul.footer__address
              li.footer__address-item
                i.fa.fa-envelope
                | support@scrimpr.com
            ul.footer__social-nav
              li.footer__social-list
                a.footer__social-link(href='#')
                  i.fab.fa-facebook-f
              li.footer__social-list
                a.footer__social-link(href='#')
                  i.fab.fa-twitter
              li.footer__social-list
                a.footer__social-link(href='#')
                  i.fab.fa-youtube
              li.footer__social-list
                a.footer__social-link(href='#')
                  i.fab.fa-google-plus-g
        .col-lg-2.col-md-3.col-sm-6.col-12
          .footer__menu
            h4.footer__nav-title.footer__nav-title--dash.footer__nav-title--dash-red
              | APPLICATION
            ul.footer__nav
              li.footer__list
                a.footer__link(href='/results') Search Products
              li.footer__list
                a.footer__link(href='/list') Create New List
        .col-lg-2.col-md-3.col-sm-6.col-12
          .footer__menu
            h4.footer__nav-title.footer__nav-title--dash.footer__nav-title--dash-red
              | SCRIMPR
            ul.footer__nav
              li.footer__list
                a.footer__link(href='') Legal Notice
              li.footer__list
                a.footer__link(href='') About us
              li.footer__list
                a.footer__link(href='') Careers
        .col-lg-2.col-md-3.col-sm-6.col-12
          .footer__menu
            h4.footer__nav-title.footer__nav-title--dash.footer__nav-title--dash-red
              | MY ACCOUNT
            ul.footer__nav
              li.footer__list
                a.footer__link(href='/mylists') My Lists
              li.footer__list
                a.footer__link(href='/favourites') Favourites
              li.footer__list
                a.footer__link(href='') Helps &amp; Faqs
  .footer__bottom
    .row
      .col-lg-8.col-md-6.col-12
        .footer__copyright-text
          p
            | Copyright &copy; 
            a(href='#') Scrimpr
            | . All Rights Reserved
        .col-lg-4.col-md-6.col-12
button.material-scrolltop(type='button')
script(src='js/vendor/vendor.min.js')
script(src='js/plugin/plugins.min.js')
script(src='js/main.js')
