mixin listItem(itemData)
  .col-md-4.col-sm-6.col-12
                    .product__box.product__default--single.text-center
                      .product__img-box.pos-relative
                        a.product__img--link(href='#')
                          img.product__img.img-fluid(src=itemData.img alt='')
                        ul.product__action--link.pos-absolute
                          li
                            a(href='#')
                              i.icon-heart
                          li
                            a(href='#modalQuickView' data-bs-toggle='modal')
                              i.icon-eye
                      .product__content.m-t-20
                        a.product__link(href='#')= itemData.item
                        .product__price.m-t-5
                          img(src='images/icons/woolworths/wwsquare.png' alt='HTML5 Icon' width='46' height='35')
                          span.product__price= itemData.wooliesPrice
                          img(src='images/icons/coles/colessquare.png' alt='HTML5 Icon' width='46' height='35')
                          span.product__price=itemData.price

doctype html
head
  meta(charset='UTF-8')
  title Scrimpr | Insert text
  meta(name='description' content='')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='shortcut icon' href='images/favicon.png' type='image/png')
  link(rel='stylesheet' href='css/vendor/vendor.min.css')
  link(rel='stylesheet' href='css/plugin/plugins.min.css')
  link(rel='stylesheet' href='css/main.min.css')
  link(rel='stylesheet' href='css/main.css')
header
  .header.d-none.d-lg-block
    .header__top
      .container
        .row
          .col-12
            .header__top-content.d-flex.justify-content-between.align-items-center
              .header__top-content--left
    .header__center.sticky-header.p-tb-10
      .container
        .row
          .col-12.d-flex.justify-content-between.align-items-center
            .header__logo
              a.header__logo-link.img-responsive(href='index.html')
                img.header__logo-img.img-fluid(src='images/logo/scrimprlogolargerls.jpg' alt='')
            .header-menu
              nav
                ul.header__nav
                  li.header__nav-item.pos-relative
                    a.header__nav-link(href='index.html') Home
                  li.header__nav-item.pos-relative
                    a.header__nav-link(href='mylists.html')
                      | Lists
                      i.fal.fa-chevron-down
                    ul.mega-menu.pos-absolute
                      li.mega-menu__box
                        .mega-menu__item-box
                          a(href='list.html' mega-menu__title='') List 1
                          span.mega-menu__title List 2
                          span.mega-menu__title List 3
                          ul.mega-menu__item
                        .mega-menu__item-box
                          ul.mega-menu__item
                            li.mega-menu__banner
                              a.mega-menu__banner-link(href='#')
                  li.header__nav-item.pos-relative
                    a.header__nav-link(href='#')
                  li.header__nav-item.pos-relative
                    a.header__nav-link(href='#')
                  li.header__nav-item.pos-relative
                    a.header__nav-link(href='#')
                  li.header__nav-item.pos-relative
                    a.header__nav-link(href='#')
            ul.header__user-action-icon
              li
                a(href='index.html')
                  i.icon-users
              li
                a(href='favourites.html')
                  i.icon-heart
    .header__bottom.p-tb-30
      .container
        .row.justify-content-between.align-items-center
          .col-xl-3.col-lg-3
            .header-menu-vertical.pos-relative
              h4.menu-title.link--icon-left
                i.far.fa-align-left
                | CATEGORIES
              ul.menu-content.pos-absolute
                li.menu-item
                  a(href='#') Fruits and Vegetables
                li.menu-item
                  a(href='#') Bakery
                li.menu-item
                  a(href='#') Fridge
                li.menu-item
                  a(href='#') Freezer
                li.menu-item
                  a(href='#') Pantry
                li.menu-item
                  a(href='#') Drinks
                li.menu-item
                  a(href='#') Bathroom
                li.menu-item
                  a(href='#') Laundry
                li.menu-item
                  a(href='#') Pet
          .col-xl-7.col-lg-6
            form.header-search(action='#' method='post')
              .header-search__content.pos-relative
                input(type='search' name='header-search' placeholder='Search products' required='')
                button.pos-absolute(type='submit')
                  i.icon-search
          .col-xl-2.col-lg-3
            .header-phone.text-end
              span
  .header__mobile.mobile-header--1.d-block.d-lg-none.p-tb-20
    .container-fluid
      .row
        .col-12.d-flex.align-items-center.justify-content-between
          ul.header__mobile--leftside.d-flex.align-items-center.justify-content-start
            li
              .header__mobile-logo
                a.header__mobile-logo-link(href='index.html')
                  img.header__mobile-logo-img(src='images/logo/scrimprlogolargerls.jpg' alt='')
          ul.header__mobile--rightside.header__user-action-icon.d-flex.align-items-center.justify-content-end
            li
              a.offcanvas-toggle(href='#offcanvas-mobile-menu')
                i.far.fa-bars
      .row
        .col-12
          .header-menu-vertical.pos-relative.m-t-30
            h4.menu-title.link--icon-left
              i.far.fa-align-left
              | CATEGORIES
            ul.menu-content.pos-absolute
              li.menu-item
                a(href='#') Fruits and Vegetables
              li.menu-item
                a(href='#') Bakery
              li.menu-item
                a(href='#') Fridge
              li.menu-item
                a(href='#') Freezer
              li.menu-item
                a(href='#') Pantry
              li.menu-item
                a(href='#') Drinks
              li.menu-item
                a(href='#') Bathroom
              li.menu-item
                a(href='#') Laundry
              li.menu-item
                a(href='#') Pet
  #offcanvas-mobile-menu.offcanvas.offcanvas-mobile-menu
    .offcanvas__top
      span.offcanvas__top-text
      button.offcanvas-close
        i.fal.fa-times
    .offcanvas-inner
      form.header-search.m-tb-15(action='#' method='post')
        .header-search__content.pos-relative
          input(type='search' name='header-search' placeholder='Search products' required='')
          button.pos-absolute(type='submit')
            i.icon-search
      ul.header__user-action-icon.m-tb-15.text-center
        li
          a(href='#')
            i.icon-users
        li
          a(href='favourites.html')
            i.icon-heart
      .offcanvas-menu
        ul
          li
            a(href='index.html')
              span Home
          li
            a(href='#')
              span My Lists
            ul.sub-menu
              li
                a(href='#') Shopping Lists
                ul.sub-menu
                  li
                    a(href='shop-sidebar-grid-left.html')
            ul.sub-menu
              li
                a(href='#') Title
                ul.sub-menu
                  li
                    a(href='#') My Account
                  li
                    a(href='#') Login
            ul.offcanvas__social-nav.m-t-50
              li.offcanvas__social-list
                a.offcanvas__social-link(href='#')
                  i.fab.fa-facebook-f
              li.offcanvas__social-list
                a.offcanvas__social-link(href='#')
                  i.fab.fa-twitter
              li.offcanvas__social-list
                a.offcanvas__social-link(href='#')
                  i.fab.fa-youtube
              li.offcanvas__social-list
                a.offcanvas__social-link(href='#')
                  i.fab.fa-google-plus-g
              li.offcanvas__social-list
                a.offcanvas__social-link(href='#')
                  i.fab.fa-instagram
main#main-container.main-container
  .container
    .row.flex-column-reverse.flex-lg-row
      .col-lg-3
        .sidebar
          .sidebar__widget
          .sidebar__widget
            .sidebar__box
      .col-lg-9
        .img-responsive
          .product__catagory
            .product__catagory--single
              .product__content.product__content--catagory
                a.product__link(href='#') Fruits and Vegetables
              .product__img-box.product__img-box--catagory
                a.product__img--link(href='#')
              i#fruits-vegetables-icon.fas.fa-carrot
            .product__catagory--single
              .product__content.product__content--catagory
                a.product__link(href='#') Bakery
              .product__img-box.product__img-box--catagory
                a.product__img--link(href='#')
              i#bakery-icon.fas.fa-bread-slice
            .product__catagory--single
              .product__content.product__content--catagory
                a.product__link(href='#') Fridge
              .product__img-box.product__img-box--catagory
                a.product__img--link(href='#')
              i#fridge-icon.fas.fa-drumstick-bite
            .product__catagory--single
              .product__content.product__content--catagory
                a.product__link(href='#') Freezer
              .product__img-box.product__img-box--catagory
                a.product__img--link(href='#')
              i#freezer-icon.fas.fa-ice-cream
            .product__catagory--single
              .product__content.product__content--catagory
                a.product__link(href='#') Pantry
              .product__img-box.product__img-box--catagory
                a.product__img--link(href='#')
              i#pantry-icon.fas.fa-cookie
            .product__catagory--single
              .product__content.product__content--catagory
                a.product__link(href='#') Drinks
              .product__img-box.product__img-box--catagory
                a.product__img--link(href='#')
              i#drinks-icon.fas.fa-glass-whiskey
            .product__catagory--single
              .product__content.product__content--catagory
                a.product__link(href='#') Bathroom
              .product__img-box.product__img-box--catagory
                a.product__img--link(href='#')
              i#bathroom-icon.fas.fa-pump-soap
            .product__catagory--single
              .product__content.product__content--catagory
                a.product__link(href='#') Laundry
              .product__img-box.product__img-box--catagory
                a.product__img--link(href='#')
              i#laundry-icon.fas.fa-soap
            .product__catagory--single
              .product__content.product__content--catagory
                a.product__link(href='#') Pet
              .product__img-box.product__img-box--catagory
                a.product__img--link(href='#')
              i#pet-icon.fas.fa-dog
        .sort-box.m-tb-40
          .sort-box-item
            .sort-box__tab
              ul.sort-box__tab-list.nav
                li
                  a.sort-nav-link(data-bs-toggle='tab' href='#sort-grid')
                    i.fas.fa-th
                li
                  a.sort-nav-link.active(data-bs-toggle='tab' href='#sort-list')
                    i.fas.fa-list-ul
          .sort-box-item.d-flex.align-items-center.flex-warp
            span Sort By:
            .sort-box__option
              label.select-sort__arrow
                select.select-sort(name='select-sort')
                  option(value='1') Relevance
                  option(value='2') Name, A to Z
                  option(value='3')  Name, Z to A 
                  option(value='4')  Price, low to high
                  option(value='5') Price, high to low
          .sort-box-item
            span Showing 1 - 9 of 9 results
        .product-tab-area
          .tab-content.tab-animate-zoom
            #sort-grid.tab-pane.shop-grid
              .row
                .col-md-4.col-12
                  .product__box.product__default--single.text-center
                    .product__img-box.pos-relative
                      a.product__img--link(href='#')
                        img.product__img.img-fluid(src='images/product/size-normal/3706832-twisties.jpg' alt='')
                      ul.product__action--link.pos-absolute
                        li
                          a(href='#')
                            i.icon-heart
                        li
                          a(href='#' data-bs-toggle='modal')
                            i.icon-eye
                    .product__content.m-t-20
                      a.product__link(href='#') Twisties Cheese 90g
                      .product__price.m-t-5
                        img(src='images/icons/woolworths/wwsquare.png' alt='HTML5 Icon' width='46' height='35')
                        span.product__price $1.00
                        img(src='images/icons/coles/colessquare.png' alt='HTML5 Icon' width='46' height='35')
                        span.product__price $2.20
                        p.special-p
                          span.product__label--special-woolworths SPECIAL
                for item in data
                  +listItem(item)          
                .col-md-4.col-sm-6.col-12
                  .product__box.product__default--single.text-center
                    .product__img-box.pos-relative
                      a.product__img--link(href='#')
                        img.product__img.img-fluid(src='images/product/size-normal/7879468-cheezels.jpg' alt='')
                      ul.product__action--link.pos-absolute
                        li
                          a(href='#')
                            i.icon-heart
                        li
                          a(href='#modalQuickView' data-bs-toggle='modal')
                            i.icon-eye
                    .product__content.m-t-20
                      a.product__link(href='#')
                        | Cheezels Original Cheese Snacks
                        | 125g
                      .product__price.m-t-5
                        img(src='images/icons/woolworths/wwsquare.png' alt='HTML5 Icon' width='46' height='35')
                        span.product__price $2.50
                        img(src='images/icons/coles/colessquare.png' alt='HTML5 Icon' width='46' height='35')
                        span.product__price $2.50
                .col-md-4.col-sm-6.col-12
                  .product__box.product__default--single.text-center
                    .product__img-box.pos-relative
                      a.product__img--link(href='#')
                        img.product__img.img-fluid(src='images/product/size-normal/1786182-chips.jpg' alt='')
                      ul.product__action--link.pos-absolute
                        li
                          a(href='#')
                            i.icon-heart
                        li
                          a(href='#modalQuickView' data-bs-toggle='modal')
                            i.icon-eye
                    .product__content.m-t-20
                      a.product__link(href='#')
                        | Red Rock Deli Potato Chips Sweet
                        | Chilli And Sour Cream
                      .product__price.m-t-5
                        img(src='images/icons/woolworths/wwsquare.png' alt='HTML5 Icon' width='46' height='35')
                        span.product__price $3.50
                        img(src='images/icons/coles/colessquare.png' alt='HTML5 Icon' width='46' height='35')
                        span.product__price $3.25
                        p.special-p
                          span.product__label--special-woolworths-both SPECIAL
                          span.product__label--special-coles-both SPECIAL
                .col-md-4.col-sm-6.col-12
                  .product__box.product__default--single.text-center
                    .product__img-box.pos-relative
                      a.product__img--link(href='#')
                        img.product__img.img-fluid(src='images/product/size-normal/3706107-burgerrings.jpg' alt='')
                      ul.product__action--link.pos-absolute
                        li
                          a(href='#')
                            i.icon-heart
                        li
                          a(href='#modalQuickView' data-bs-toggle='modal')
                            i.icon-eye
                    .product__content.m-t-20
                      a.product__link(href='#') Burger Rings Snacks 125g
                      .product__price.m-t-5
                        img(src='images/icons/woolworths/wwsquare.png' alt='HTML5 Icon' width='46' height='35')
                        span.product__price $1.00
                        img(src='images/icons/coles/colessquare.png' alt='HTML5 Icon' width='46' height='35')
                        span.product__price $2.20
                        p.special-p
                          span.product__label--special-woolworths SPECIAL
                .col-md-4.col-sm-6.col-12
                  .product__box.product__default--single.text-center
                    .product__img-box.pos-relative
                      a.product__img--link(href='#')
                        img.product__img.img-fluid(src='images/product/size-normal/2358275-smithsoriginal.jpg' alt='')
                      ul.product__action--link.pos-absolute
                        li
                          a(href='#')
                            i.icon-heart
                        li
                          a(href='#modalQuickView' data-bs-toggle='modal')
                            i.icon-eye
                    .product__content.m-t-20
                      a.product__link(href='#')
                        | Smiths Crinkle Cut Original Potato
                        | Chips 170g
                      .product__price.m-t-5
                        img(src='images/icons/woolworths/wwsquare.png' alt='HTML5 Icon' width='46' height='35')
                        span.product__price $3.75
                        img(src='images/icons/coles/colessquare.png' alt='HTML5 Icon' width='46' height='35')
                        span.product__price $3.75
                .col-md-4.col-sm-6.col-12
                  .product__box.product__default--single.text-center
                    .product__img-box.pos-relative
                      a.product__img--link(href='#')
                        img.product__img.img-fluid(src='images/product/size-normal/2358300-smithschicken.jpg' alt='')
                      ul.product__action--link.pos-absolute
                        li
                          a(href='#')
                            i.icon-heart
                        li
                          a(href='#modalQuickView' data-bs-toggle='modal')
                            i.icon-eye
                    .product__content.m-t-20
                      a.product__link(href='#')
                        | Smiths Crinkle Cut Chicken Potato
                        | Chips 170g
                      .product__price.m-t-5
                        img(src='images/icons/woolworths/wwsquare.png' alt='HTML5 Icon' width='46' height='35')
                        span.product__price $3.75
                        img(src='images/icons/coles/colessquare.png' alt='HTML5 Icon' width='46' height='35')
                        span.product__price $3.75
                .col-md-4.col-sm-6.col-12
                  .product__box.product__default--single.text-center
                    .product__img-box.pos-relative
                      a.product__img--link(href='#')
                        img.product__img.img-fluid(src='images/product/size-normal/8156535-kettle.jpg' alt='')
                      ul.product__action--link.pos-absolute
                        li
                          a(href='#')
                            i.icon-heart
                        li
                          a(href='#modalQuickView' data-bs-toggle='modal')
                            i.icon-eye
                    .product__content.m-t-20
                      a.product__link(href='#') Kettle Sea Salt Potato Chips
                      .product__price.m-t-5
                        img(src='images/icons/woolworths/wwsquare.png' alt='HTML5 Icon' width='46' height='35')
                        span.product__price $4.65
                        img(src='images/icons/coles/colessquare.png' alt='HTML5 Icon' width='46' height='35')
                        span.product__price $3.50
                        p.special-p
                          span.product__label--special-coles SPECIAL
                .col-md-4.col-sm-6.col-12
                  .product__box.product__default--single.text-center
                    .product__img-box.pos-relative
                      a.product__img--link(href='#')
                        img.product__img.img-fluid(src='images/product/size-normal/7117775-frenchfries.jpg' alt='')
                      ul.product__action--link.pos-absolute
                        li
                          a(href='#')
                            i.icon-heart
                        li
                          a(href='#modalQuickView' data-bs-toggle='modal')
                            i.icon-eye
                    .product__content.m-t-20
                      a.product__link(href='#') French Fries Original Potato Chips
                      .product__price.m-t-5
                        img(src='images/icons/woolworths/wwsquare.png' alt='HTML5 Icon' width='46' height='35')
                        span.product__price $1.75
                        img(src='images/icons/coles/colessquare.png' alt='HTML5 Icon' width='46' height='35')
                        span.product__price $1.75
                        p.special-p
                          span.product__label--special-woolworths-both SPECIAL
                          span.product__label--special-coles-both SPECIAL
                .col-md-4.col-sm-6.col-12
                  .product__box.product__default--single.text-center
                    .product__img-box.pos-relative
                      a.product__img--link(href='#')
                        img.product__img.img-fluid(src='images/product/size-normal/6833927-lighttangy.jpg' alt='')
                      ul.product__action--link.pos-absolute
                        li
                          a(href='#')
                            i.icon-heart
                        li
                          a(href='#modalQuickView' data-bs-toggle='modal')
                            i.icon-eye
                    .product__content.m-t-20
                      a.product__link(href='#')
                        | Thins Light and Tangy Potato Chips
                        | 175g
                      .product__price.m-t-5
                        img(src='images/icons/woolworths/wwsquare.png' alt='HTML5 Icon' width='46' height='35')
                        span.product__price $1.75
                        img(src='images/icons/coles/colessquare.png' alt='HTML5 Icon' width='46' height='35')
                        span.product__price $3.50
                        p.special-p
                          span.product__label--special-woolworths SPECIAL
            #sort-list.tab-pane.show.active.shop-list
              .row
                .col-12
                  .product__box.product__box--list
                    .product__img-box.pos-relative.text-center
                      a.product__img--link(href='#')
                        img.product__img.img-fluid(src='images/product/size-normal/1786182-chips.jpg' alt='')
                    .product__content
                      a.product__link(href='#')
                        h5.font--regular
                          | Red Rock Deli Potato Chips Sweet
                          | Chilli And Sour Cream
                      .product__price.m-t-5
                        img(src='images/icons/woolworths/wwsquare.png' alt='HTML5 Icon' width='46' height='35')
                        span.product__price $3.50
                        img(src='images/icons/coles/colessquare.png' alt='HTML5 Icon' width='46' height='35')
                        span.product__price $3.25
                        p.special-p
                          span.product__label--special-woolworths-both SPECIAL
                          span.product__label--special-coles-both SPECIAL
                      ul.product__action--link-list.m-t-30
                        li
                          a.btn--black.btn--black-hover-blue(href='#modalAddList' data-bs-toggle='modal') Add to List
                        li
                          a(href='#')
                            i.icon-heart
                .col-12
                  .product__box.product__box--list
                    .product__img-box.pos-relative.text-center
                      a.product__img--link(href='#')
                        img.product__img.img-fluid(src='images/product/size-normal/3706832-twisties.jpg' alt='')
                    .product__content
                      a.product__link(href='#')
                        h5.font--regular Twisties Cheese 90g
                      .product__price.m-t-5
                        img(src='images/icons/woolworths/wwsquare.png' alt='HTML5 Icon' width='46' height='35')
                        span.product__price $1.00
                        img(src='images/icons/coles/colessquare.png' alt='HTML5 Icon' width='46' height='35')
                        span.product__price $2.20
                        p.special-p
                          span.product__label--special-woolworths-list SPECIAL
                      ul.product__action--link-list.m-t-30
                        li
                          a.btn--black.btn--black-hover-blue(href='#modalAddList' data-bs-toggle='modal') Add to List
                        li
                          a(href='#')
                            i.icon-heart
                .col-12
                  .product__box.product__box--list
                    .product__img-box.pos-relative.text-center
                      a.product__img--link(href='#')
                        img.product__img.img-fluid(src='images/product/size-normal/8156535-kettle.jpg' alt='')
                    .product__content
                      a.product__link(href='#')
                        h5.font--regular Kettle Sea Salt Potato Chips 175g
                      .product__price.m-t-5
                        img(src='images/icons/woolworths/wwsquare.png' alt='HTML5 Icon' width='46' height='35')
                        span.product__price $4.65
                        img(src='images/icons/coles/colessquare.png' alt='HTML5 Icon' width='46' height='35')
                        span.product__price $3.50
                        p.special-p
                          span.product__label--special-coles SPECIAL
                      ul.product__action--link-list.m-t-30
                        li
                          a.btn--black.btn--black-hover-blue(href='#modalAddList' data-bs-toggle='modal') Add to List
                        li
                          a(href='#')
                            i.icon-heart
                .col-12
                  .product__box.product__box--list
                    .product__img-box.pos-relative.text-center
                      a.product__img--link(href='#')
                        img.product__img.img-fluid(src='images/product/size-normal/6833927-lighttangy.jpg' alt='')
                    .product__content
                      a.product__link(href='#')
                        h5.font--regular
                          | Thins Light and Tangy Potato Chips 175g
                      .product__price.m-t-5
                        img(src='images/icons/woolworths/wwsquare.png' alt='HTML5 Icon' width='46' height='35')
                        span.product__price $1.75
                        img(src='images/icons/coles/colessquare.png' alt='HTML5 Icon' width='46' height='35')
                        span.product__price $3.50
                        p.special-p
                          span.product__label--special-woolworths-list SPECIAL
                      ul.product__action--link-list.m-t-30
                        li
                          a.btn--black.btn--black-hover-blue(href='#modalAddList' data-bs-toggle='modal') Add to List
                        li
                          a(href='#')
                            i.icon-heart
        .page-pagination
          ul.page-pagination__list
            li.page-pagination__item
              a.page-pagination__link(href='#') Prev
            li.page-pagination__item
              a.page-pagination__link.active(href='#') 1
            li.page-pagination__item
              a.page-pagination__link(href='#') 2
            li.page-pagination__item
              a.page-pagination__link(href='#') Next
footer.footer.m-t-100
  .container
    .footer__top
      .row
        .col-lg-4.col-md-5
          .footer__about
            .footer__logo
              a.footer__logo-link(href='index.html')
                img.footer__logo-img(src='images/logo/scrimprlogolarger.png' alt='')
            ul.footer__address
              li.footer__address-item
                i.fa.fa-envelope
                | support@scrimpr.com
            ul.footer__social-nav
              li.footer__social-list
                a.footer__social-link(href='#')
                  i.fab.fa-facebook-f
              li.footer__social-list
                a.footer__social-link(href='#')
                  i.fab.fa-twitter
              li.footer__social-list
                a.footer__social-link(href='#')
                  i.fab.fa-youtube
              li.footer__social-list
                a.footer__social-link(href='#')
                  i.fab.fa-google-plus-g
        .col-lg-2.col-md-3.col-sm-6.col-12
          .footer__menu
            h4.footer__nav-title.footer__nav-title--dash.footer__nav-title--dash-red
              | APPLICATION
            ul.footer__nav
              li.footer__list
                a.footer__link(href='results.html') Search Products
              li.footer__list
                a.footer__link(href='list.html') Create New List
        .col-lg-2.col-md-3.col-sm-6.col-12
          .footer__menu
            h4.footer__nav-title.footer__nav-title--dash.footer__nav-title--dash-red
              | SCRIMPR
            ul.footer__nav
              li.footer__list
                a.footer__link(href='') Legal Notice
              li.footer__list
                a.footer__link(href='') About us
              li.footer__list
                a.footer__link(href='') Careers
        .col-lg-2.col-md-3.col-sm-6.col-12
          .footer__menu
            h4.footer__nav-title.footer__nav-title--dash.footer__nav-title--dash-red
              | MY ACCOUNT
            ul.footer__nav
              li.footer__list
                a.footer__link(href='mylists.html') My Lists
              li.footer__list
                a.footer__link(href='favourites.html')
                  | Favourites
              li.footer__list
                a.footer__link(href='') Helps &amp; Faqs
  .footer__bottom
    .row
      .col-lg-8.col-md-6.col-12
        .footer__copyright-text
          p
            | Copyright &copy; 
            a(href='#') Scrimpr
            | . All Rights Reserved
        .col-lg-4.col-md-6.col-12
button.material-scrolltop(type='button')
script(src='js/vendor/vendor.min.js')
script(src='js/plugin/plugins.min.js')
script(src='js/main.js')
